/*services navbar*/

.services-navbar{
    position: fixed;
    top: 74px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 799;
}

.services-navbar-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeeef3;
    border-radius: 15px;
    overflow: hidden;
}

.services-navbar-itm{
    font-size: 16px;
    font-weight: 400;
    color: var(--txtnormal);
    padding: 5px 25px;
    user-select: none;
    cursor: pointer;
}

.services-navbar-itm:hover {
    background-color: var(--bgcolorHover);
    color: var(--txtcolorHover);
    transition: all .3s;
}

@media screen and (max-width: 499px) {

    .services-navbar{
        position: fixed;
        top: unset;
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 799;
    }
    
    .services-navbar-content{
        width: 90%;
        border-radius: 15px;
    }

    .services-navbar-itm{
        padding: 5px 25px;
        font-size: 14px;
        text-align: center;
    }    
    
    .services-navbar-itm.mid{
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }    
}

/*hero*/

.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
}

.hero-content {
    width: 1400px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    width: 40%;
}

.hero-right {
    max-width: 580px;
}

.hero-right img {
    width: 100%;
}

.hero-title {
    font-size: 43px;
    font-weight: 500;
    line-height: 50px;
}

.hero-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--txtnormal);
    padding-top: 25px;
    line-height: 24px;
}

#hero-btn {
    height: 50px;
    padding: 0 24px;
    border-radius: 5px;
    margin-top: 30px;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    background-color: var(--btnbgcolor);

    font-size: 16px;
    font-weight: 500;
    color: var(--bgcolor);
}

#hero-btn:hover {
    background-color: var(--btnbgcolorHover);
    transition: all .3s;
}

.scrolldown-content{
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.scrolldown-content img{
    width: 30px;
    height: 30px;
    user-select: none;
    animation-name: scrolldown;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes scrolldown {
  0% {
    opacity: 1;
  }
  13% {
    opacity: 0.3;
  }
  26% {
    opacity: 1;
  }
  39% {
    opacity: 0.3;
  }
  52% {
    opacity: 1;
  }
  65% {
    opacity: 0.3;
  }
  78% {
    opacity: 1;
  }
  89% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1440px) {

    .hero {
        position: relative;
        width: 100%;
        height: calc(100vh - 64px);
    }

    .hero-content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
    }

    .hero-left {
        width: 45%;
    }

    .hero-right {
        max-width: 480px;
    }
}

@media screen and (max-width: 1024px) {

    .hero {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .hero-content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 75px 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 70px;
    }

    .hero-left {
        width: 70%;
        order: 1;
    }

    .hero-right {
        width: 70%;
        max-width: unset;
    }
}

@media screen and (max-width: 600px) {

    .hero {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .hero-content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 75px 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 70px;
    }

    .hero-left {
        width: 100%;
    }

    .hero-right {
        width: 100%;
        max-width: unset;
    }

    .scrolldown-content{
        display: none;
    }
}

/*aboutus*/

.service {
    position: relative;
    width: 100%;
    height: 100%;
}

.service.act {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bgcolorHover);
}

.service-content {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 150px 3%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.service-left {
    width: 40%;
}

.service-left.act {
    width: 40%;
    order: 1;
}

.service-right {
    max-width: 580px;
    position: sticky;
    top: 150px;
}

.service-right img {
    width: 100%;
}

.service-title {
    font-size: 43px;
    font-weight: 500;
}

.service-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--txtnormal);
    padding-top: 15px;
    line-height: 24px;
}

#service-btn {
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: var(--btnbgcolor);
    background-color: transparent;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
}

#service-btn:hover {
    color: var(--txtlinkHover);
    transition: all .3s;
}

@media screen and (max-width: 1440px) {

    .service-content {
        width: 100%;
        height: 100%;
    }
    
    .service-left {
        width: 45%;
    }
    
    .service-right {
        max-width: 480px;
    }
}

@media screen and (max-width: 1024px) {

    .service-content {
        padding: 75px 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        row-gap: 70px;
    }

    .service-left {
        width: 70%;
        max-width: unset;
        order: 1;
    }

    .service-left.act {
        width: 70%;
        max-width: unset;
        order: 1;
    }

    .service-right {
        width: 70%;
        position: unset;
        top: unset;
    }
}

@media screen and (max-width: 600px) {

    .service-content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 75px 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        row-gap: 70px;
    }

    .service-left {
        width: 100%;
        max-width: unset;
    }

    .service-left.act {
        width: 100%;
        max-width: unset;
    }

    .service-right {
        width: 100%;
    }
}

/*calltoaction*/

.calltoaction {
    position: relative;
    width: 100%;
    height: 100%;
}

.calltoaction-content {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.calttoaction-title {
    font-size: 43px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

#calltoaction-btn {
    height: 50px;
    padding: 0 44px;
    border-radius: 5px;
    margin-top: 25px;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    background-color: var(--btnbgcolor);

    font-size: 16px;
    font-weight: 500;
    color: var(--bgcolor);
}

#calltoaction-btn:hover {
    background-color: var(--btnbgcolorHover);
    transition: all .3s;
}

@media screen and (max-width: 1440px) {

    .calltoaction-content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 100px 3%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {

    .calltoaction-content {
        padding: 75px 1%;
    }
}

@media screen and (max-width: 600px) {

    .calltoaction-content {
        padding: 75px 3%;
    }
}

@media screen and (max-width: 480px) {

    .calttoaction-title {
        font-size: 37px;
        line-height: 45px;
    }
}