/* #3f3d56 primary color of images */



* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #dbdbdb;
    color: #000;
}

:root {
    --bgcolor: #fff;
    --bgfooter: #eee;

    --txttitle: #000;
    --txtnormal: #5f6368;
    --txtcolor: #9b9b9b;
    --txtcolorHover: #202124;
    --bgcolorHover: #f8f9fa;

    --btnbgcolor: #2759ff;
    --btnbgcolorHover: #003cff;
    --txtlinkHover: #3f3d56;

    --headerbgcolorfiller: #eeeeee40;

    --portfoliobgcolorfiller: #202124ed;
}

/*body*/

body {
    background-color: var(--bgcolor);
}

@media screen and (max-width: 1024px) {

    body {
        overflow: unset;
    }

    body.is-active {
        overflow: hidden;
    }
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}



/*

media

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 600px) {}

*/