/*hero*/

.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
}

.hero-content {
    width: 1400px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    width: 40%;
}

.hero-right {
    max-width: 580px;
}

.hero-right img {
    width: 100%;
}

.hero-title {
    font-size: 43px;
    font-weight: 500;
    line-height: 50px;
}

.hero-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--txtnormal);
    padding-top: 25px;
    line-height: 24px;
}

#hero-btn {
    height: 50px;
    padding: 0 24px;
    border-radius: 5px;
    margin-top: 30px;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    background-color: var(--btnbgcolor);

    font-size: 16px;
    font-weight: 500;
    color: var(--bgcolor);
}

#hero-btn:hover {
    background-color: var(--btnbgcolorHover);
    transition: all .3s;
}

@media screen and (max-width: 1440px) {

    .hero {
        position: relative;
        width: 100%;
        height: calc(100vh - 64px);
    }

    .hero-content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
    }

    .hero-left {
        width: 45%;
    }

    .hero-right {
        max-width: 480px;
    }
}

@media screen and (max-width: 1024px) {

    .hero {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .hero-content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 125px 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 70px;
    }

    .hero-left {
        width: 70%;
        order: 1;
    }

    .hero-right {
        width: 70%;
        max-width: unset;
    }
}

@media screen and (max-width: 600px) {

    .hero {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .hero-content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 125px 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 70px;
    }

    .hero-left {
        width: 100%;
    }

    .hero-right {
        width: 100%;
        max-width: unset;
    }
}